*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url('../media/ChatGPT\ Image\ Apr\ 29\,\ 2025\,\ 08_07_28\ PM.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

header{
    background-color: black;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.car-logo-container {
    justify-content: flex-start;

}

.text-logo-container {
    justify-content: center;
}

.car-logo-container, .text-logo-container {
    flex: 1;
    display: flex;
    align-items: center;
}

.car-logo {
    max-width: 100%;
    height: auto;
    width: 150px;
    
}

.text-logo {
    max-width: 100%;
    height: auto;
    width: 468px;
    
}

.nav-bar {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  
.nav-bar ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }

  .nav-bar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  .nav-bar a:hover {
    color: #e64135;
  }
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0));
    color: red;
    text-align: center;
    padding: 4rem 2rem 1rem 2rem;
    
  }


  main img{
    max-width: 100%;
    height: auto;
    width: 140rem;
  }
  .terms-and-policy{
    color: #ccc;
    margin: 0 10px;
  }
  footer a{
    color: #ccc;
    margin: 0 5px;
  }
  footer div{
    margin-top: 10px;
  }