* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  
  
  
  background-color: black;
}

.main-section{
  background-image: url('../media/gpt\ img2.PNG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 71vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 30px black;
}

header {
  background-color: black;
  padding: 1rem 1rem 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
}

.filler{
  padding: 7rem;
  background-color: none;
}

.car-logo-container {
  justify-content: flex-start;
}

.text-logo-container {
  justify-content: center;
}

.car-logo-container, .text-logo-container {
  flex: 1;
  display: flex;
  align-items: center;
}

.car-logo {
  max-width: 100%;
  height: auto;
  width: 150px;
}

.text-logo {
  max-width: 100%;
  height: auto;
  width: 468px;
}

.nav-bar {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-bar ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-bar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-bar a:hover {
  color: #e64135;
}

footer {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0));
  color: red;
  text-align: center;
  padding: 4rem 2rem 1rem 2rem;
}

main img {
  max-width: 100%;
  height: auto;
}

.terms-and-policy {
  color: #ccc;
  margin: 0 10px;
}

footer a {
  color: #ccc;
  margin: 0 5px;
}

footer div {
  margin-top: 10px;
}

main section {
  padding: 5rem 0.5rem;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 2rem auto;
  width: 90%;
  max-width: 1000px;
  border-radius: 8px;
}

main h2 {
  color: #e64135;
  margin-bottom: 1rem;
}

.ad-button, .rent-button {
  padding: 0.6rem 1.2rem;
  background-color: #e64135;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  margin-top: 1rem;
}

.ad-button:hover, .rent-button:hover {
  background-color: #b82e22;
}

.car-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.car-card {
  background-color: #1a1a1a;
  padding: 1rem;
  border-radius: 6px;
  width: 250px;
}

.car-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 0.7rem;
  height: 10rem;
}

.why-us ul {
  list-style: none;
  padding: 0;
}

.why-us li {
  margin-bottom: 0.8rem;
}

.reviews blockquote {
  margin: 1rem 0;
  font-style: italic;
}

.price-container{
  display: flex;
  gap: 5px;
  justify-content: center;
}

.old-price{
  text-decoration: line-through red 2px;
  
}

.new-price{
  font-weight: bold;
}